/* @keyframes slide-left {
  25%,
  75% {
    scale: 100%;
  }

  50% {
    scale: 200%;
    color: magenta;
  }
} */

.container {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
}
.fanty {
  padding-top: 100px;
  animation-duration: 3s;
  animation-name: slide-in;
  width: 50%;
  display: flex;
  position: absolute;
  top: 150px;
  left: 15%;
  height: 500px;
}
.fanty h1 {
  position: absolute;
  right: 40px;
  bottom: 180px;
}
.info {
  animation-duration: 4s;
  animation-name: fade-in;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 52%;
  z-index: 2;
}

@keyframes slide-in {
  from {
    translate: -100vw 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes fade-in {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .fanty h1 {
    right: -40%;
    bottom: 196px;
    font-size: 32px;
  }
  .fanty {
    left: 16px;
    top: 16px;
    width: 45%;
  }
  .info {
    right: 16px;
    top: 30px;
    left: unset;
    width: 60%;
  }
}
