:root {
  --main-black: #0e0e0e;
  --main-white: rgba(255, 255, 255, 0.87);

  --main-shadow:
    0 0 1px 0 rgba(0, 0, 0, 0.6), 0 0 2px 0 rgba(0, 0, 0, 0.05),
    0 38px 90px 0 rgba(0, 0, 0, 0.25);
}
