.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  padding: 16px;
  height: 100%;
  overflow-y: auto;
}

.container h1 {
  font-family: var(--HeaderFont);
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  display: flex;
  width: fit-content;
  margin: 0;
  border-radius: 8px;
  box-shadow:
    0 0 1px 0 rgba(0, 0, 0, 0.3),
    0 0 2px 0 rgba(0, 0, 0, 0.05),
    0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.container h2 {
  font-size: 18px;
  color: #2a2a2a;
  background-color: #ffa500;
  padding: 8px 16px;
  display: flex;
  width: fit-content;

  margin: 0;
  border-radius: 8px;
  box-shadow:
    0 0 1px 0 rgba(0, 0, 0, 0.3),
    0 0 2px 0 rgba(0, 0, 0, 0.05),
    0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.statusContainer {
  position: absolute;
  top: 48px;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.statusContainer a {
  color: var(--main-white);
  font-size: 12px;
  text-align: end;
  padding: 4px 8px;
  display: flex;
  width: fit-content;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
.statusContainer a:hover {
  border-bottom: 1px solid var(--main-white);
}

.description {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px;
  display: flex;
  flex-direction: column;

  border-radius: 8px;

  box-shadow:
    0 0 1px 0 rgba(0, 0, 0, 0.3),
    0 0 2px 0 rgba(0, 0, 0, 0.05),
    0 15px 30px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
}
.gameDescription {
  right: 6%;
  top: 350px;
  width: 50%;
}
.releaseNotes {
  left: 0;
  top: 400px;
  width: 352px;
}
.markdown {
  text-align: start;
}
.description p {
  margin-top: 0;
  text-align: start;
  white-space: pre-line;
}
.description h3 {
  font-family: var(--HeaderFont);
  font-size: 24px;
  margin-top: 0;
}
.itchLink {
  background-color: #fa5c5c;
  color: var(--main-white);
  font-weight: bold;
  padding: 8px 16px;
  display: flex;
  width: fit-content;
  margin: 24px 0;
  margin-left: auto;
  border-radius: 4px;
  text-decoration: none;
}
.itchLink:hover {
  background-color: #fa5c5cc2;
  color: var(--main-white);
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 24px;
  }
  .container h2 {
    font-size: 12px;
    padding: 6px 12px;
  }
  .gameDescription {
    right: 8px;
    top: 324px;
    width: 80%;
  }
  .releaseNotes {
    left: 8px;
    right: unset;
    top: 891px;
    width: 80%;
  }
  .statusContainer {
    flex-direction: row-reverse;
    top: 58px;
    gap: 12px;
  }
}
