.menuButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menuContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  padding: 16px;
  text-align: start;
  color: var(--main-white);
}
.menuContent a {
  text-decoration: none;
  color: var(--main-white);
  font-weight: bold;
  border: rgba(255, 255, 255, 0.1) solid 1px;
  border-radius: 4px;
  padding: 8px;
}
.menuContent a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
