.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  white-space: nowrap;
  text-align: start;
}

.links {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.links a {
  text-decoration: none;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 8px;
  color: var(--main-white);
}

.links a.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.links a:hover {
  border-bottom: 1px solid var(--main-white);
  color: rgba(255, 255, 255, 0.6);
}

/* Optional: align the dropdown to the right */
.header > span:last-child {
  justify-self: end;
}
